
<%= user%>

<form action="/" method="post" autocomplete="off">

<input type="hidden" value="<%= data._id%> " name="id" >

    <label class="container-line" for=""> name :</label>
    <input class="container-line" type="text" name="name" id="name" value="<%= data.name%>" >

    <label class="container-line" for=""> password :</label>
     <input type="text" name="pass" id="pas" value="<%= data.pass%>" >

    <input class="container-line" type="submit" value="submit">

</form>


<button><a href="/stulist">back</a></button>

